body {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background: orange;
  border: 2px solid black;
  min-height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

button,
select {
  background: greenyellow;
  border: 1px solid darkgray;
  border-radius: 5px;
}

#placeholder1,
#placeholder2 {
  color: darkred;
}
